# Environments
.env
env/
ENV/

# folders
output/

*.txt

*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.webp
*.tiff
*.ico

*.mp3
*.wav
*.aac
*.flac
*.ogg
*.wma
*.m4a

*.mp4
*.mkv
*.avi
*.mov
*.wmv
*.flv
*.webm

*.psd
*.ai
*.eps
*.raw
*.heif
*.heic
